.nav-right {
  float: right !important;
}

.flash {
  color: white;
  text-align: center;
  h5 { cursor: default; }
  .dismiss {
    position: relative;
    top: -28.5px;
    left: 373px;
    cursor: pointer;
  }
  div {
    height: 40px;
    &.error-detail {
      background-color: #E74C3C;
    }
    &.info-detail {
      background-color: #3498DB;
    }
  }
}

.center {
  text-align: center;
}

.header {
  font-weight: bold;
}

.compose-form {
  form {
    textarea {
      overflow: hidden;
      font-family: monospace;
    }
  }
  .expand-preview, .collapse-preview, .expand-help, .collapse-help {
    text-decoration: none;
  }
  #markdown-preview {
    width: 446px;
    border: 2px solid #F1C40F;
    border-radius: 6px;
    word-wrap: break-word;
    margin: 5px 0 5px 0;
    padding: 5px;
  }
  #formatting-help {
    margin: 5px 0 5px 0;
  }
}

.arrow-entity {
  position: relative;
  top: -1px;
}

