#new-threads-bar {
  text-align: center;
  font-style: italic;
  background-color: #ECF0F1;
  color: #BDC3C7;
  padding: 5px;
  margin: 5px 0 5px 0;
  cursor: pointer;

  &:hover {
    background-color: #BDC3C7;
    color: white;
  }
}

.new-thread-button-container {
  margin-bottom: 10px;
  #new-thread-button {
    width: 32px;
    height: 29px;
    float: right;
  }
}

#thread-compose-form {
  form {
    margin-bottom: 0;
  }
  input[type='submit'] {
    width: 100px;
    margin: 10px 0 10px 0;
  }
}

.last-post-date {
  font-style: italic;
}

