#post-compose-form {
  margin-top: 10px;
  input[type='submit'] {
    margin-top: 10px;
    width: 100px;
  }
}
#reply-button {
  width: 100px;
}
.post-container {
  .post {
    .post-header {
      margin-bottom: 2px;
      .timeago {
        margin-left: 2px;
        font-style: italic;
        cursor: default;
        color: #BDC3C7;
      }
    }
  }
}
