<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    {{#styles}}
      <link href="{{{path}}}" rel="stylesheet">
    {{/styles}}
    {{#scripts}}
      <script type="text/javascript" src="{{{path}}}"></script>
    {{/scripts}}
  </head>
  <body>
    {{{content}}}
  </body>
</html>

