<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    {{#styles}}
      <link href="{{{path}}}" type="text/css" rel="{{{rel}}}">
    {{/styles}}
    {{#clientTemplates}}
      <script type="text/template" data-name="{{name}}">
        {{{code}}}
      </script>
    {{/clientTemplates}}
    {{#scripts}}
      <script type="text/javascript" src="{{{path}}}"></script>
    {{/scripts}}
  </head>
  <body>
    <div id="page" class="container">
      <div id="flash-message" class="row flash"></div>
      {{#flash}}
        <script type="text/javascript">
          var flashMessage = new forerun.views.FlashMessage({
            el: $('#flash-message'),
            message: "{{{message}}}",
            type: "{{{type}}}"
          }).render();
        </script>
      {{/flash}}
      {{#user}}
        <div class="row" style="height: 20px;">{{user.name}}</div>
        <div class="row">
          <div class="span1"></div>
          <div class="span10">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container">
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li style="font-weight: bold;"><a href="/">Forerun</a></li>
                      <li><a href="/profile">Profile</a></li>
                      <li>
                        <a href="#">API</a>
                        <ul>
                          <li><a href="/api/overview">Overview</a></li>
                          <li><a href="/api/reference">Reference</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav nav-right">
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span1"></div>
        </div>
      {{/user}}
      {{{content}}}
    </div>
  </body>
</html>

