<div>
  <a href="#compose" class="expand-help">
    <span class="arrow-entity">&#9654;</span> Formatting Help
  </a>
  <a href="#compose" class="collapse-help">
    <span class="arrow-entity">&#9660;</span> Formatting Help
  </a>
</div>
<div id="formatting-help"></div>
<div>
  <a href="#compose" class="expand-preview">
    <span class="arrow-entity">&#9654;</span> Preview
  </a>
  <a href="#compose" class="collapse-preview">
    <span class="arrow-entity">&#9660;</span> Preview
  </a>
</div>
<div id="markdown-preview"></div>

