<div>
  <a href="#" class="expand-preview">
    <span class="arrow-entity">&#9654;</span> Preview
  </a>
  <a href="#" class="collapse-preview">
    <span class="arrow-entity">&#9660;</span> Preview
  </a>
</div>
<div id="markdown-preview"></div>

