<tt>**bold**</tt> &rarr; <strong>bold</strong><br>
<tt>_italic_</tt> &rarr; <em>italic</em><br>
<tt>[example link](http://example.com)</tt> &rarr; <a href="http://example.com">example link</a><br>
<tt>`monospace`</tt> &rarr; <tt>monospace</tt><br>
<strong><a href="http://daringfireball.net/projects/markdown/syntax">Full Markdown Reference</a></strong>
