<div class="row" style="height: 20px;"></div>
<div class="row">
  <div class="span10">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
          <ul class="nav">
            <li style="font-weight: bold;"><a href="#">Forerun</a></li>
            <li><a href="#">Boards</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span2">
    <a href="#"
       style="margin-top: 3px;"
       class="btn btn-large btn-block btn-warning">Logout</a>
  </div>
</div>
<div class="row">
  <div class="span1"></div>
  <div class="span6 palette palette-concrete">
    this is a long topic title la la la
    <span style="text-transform: none;">
    </span>
  </div>
  <div class="span4 palette palette-asbestos">
    <span style="text-transform: none;">
      <strong>Bill Cauchois</strong>, Sam Tannert, Ted Broadhurst (11)
    </span>
  </div>
  <div class="span1"></div>
</div>
