
<div class="row">
  <div class="span12">
    <a href="#" id="new-board-button" title="New Board"
      class="btn btn-block btn-primary">
      <span class="fui-plus-16"></span>
    </a>
  </div>
</div>
<div class="row" style="margin-bottom: 5px;">
  <div class="span8"></div>
  <div class="span4" id="new-board-form"></div>
</div>

<div class="row">
  <div class="span7 header">Board</div>
  <div class="span1 header center">Threads</div>
  <div class="span1 header center">Posts</div>
  <div class="span3 header">Last Post</div>
</div>

{{#threads}}
  <div class="row"><h1>{{title}}</h1></div>
{{/threads}}

{{#boards}}
  <div class="row board">
    <div class="span7">
      <div class="board-title">
        <a href="/board/{{_id}}">
          <h4>{{title}}</h4>
        </a>
      </div>
      <div class="board-subtitle">{{subtitle}}</div>
    </div>
    <div class="span1 center">
      {{thread_count}}
    </div>
    <div class="span1 center">
      {{post_count}}
    </div>
    <div class="span3">
      {{! todo: last post }}
    </div>
  </div>
{{/boards}}

<script type="text/javascript">
  var currentPage = new forerun.views.HomePage({ el: $('#page') });
</script>

