
<div class="row new-thread-button-container">
  <div class="span1"></div>
  <div class="span10">
    <a href="#" id="new-thread-button" title="New Thread"
      class="btn btn-block btn-primary">
      <span class="fui-plus-16"></span>
    </a>
  </div>
  <div class="span1"></div>
</div>
<div class="row thread-compose-container" id="compose">
  <div class="span5"></div>
  <div class="span6 compose-form" id="thread-compose-form"></div>
  <div class="span1"></div>
</div>

<div class="row">
  <div class="span1"></div>
  <div class="span5 header">Thread</div>
  <div class="span1 header">User</div>
  <div class="span1 header">Replies</div>
  <div class="span3 header">Last Post</div>
  <div class="span1"></div>
</div>

<div class="row" id="new-threads-bar"></div>

{{#threads}}
  <div class="row thread">
    {{> threadRow}}
  </div>
{{/threads}}

<div class="row online-indicator">
  <div class="span1"></div>
  <div class="span10">
    <div id="online-indicator">
    </div>
  </div>
  <div class="span1"></div>
</div>

<div class="row" style="height: 100px;"></div>

<script type="text/javascript">
  var currentPage = new forerun.views.HomePage({
    el: $('#page'),
    config: {{{config_json}}}
  }).render();
</script>

