<form method="POST" action="/login">
  <input type="text" name="handle" id="handle" placeholder="Handle" class="span4"><br>
  <input type="password" name="password" id="password" placeholder="Password" class="span4"><br>
  <input class="btn btn-large btn-block btn-success" type="submit" value="Login">
</form>
