<form method="POST" action="/board/new">
  <input type="text" id="title" name="title" placeholder="Title" class="span4">
  <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle" class="span4">
  <input type="submit" class="btn btn-block btn-success" value="Create">
</form>
