
<div class="row" style="height: 120px;"></div>

<div class="row">
  <div class="span4"></div>
  <div class="span4">
    {{^reset}}
      <p>
        To reset your password, enter your handle or email below and
        we'll send a reset link to the email we have on file for you.
      </p>
      <form method="POST" action="/sendPasswordReset">
        <input type="text" name="handle_or_email" class="span4" placeholder="Handle or email">
        <input type="submit" class="btn btn-large btn-block btn-primary" class="span4" value="Send password reset email">
      </form>
      <a href="/#login" style="position: relative; top: -15px;">Or, return to login form</a>
    {{/reset}}
    {{#reset}}
      <p>Hi {{handle}},</p>
      <p><strong>Please enter a new password below:</strong></p>
      <form method="POST" action="/passwordReset">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="handle" value="{{handle}}">
        <input type="password" name="password" class="span4" placeholder="New password">
        <input type="submit" value="Reset password" class="span4 btn btn-block btn-large btn-primary">
      </form>
    {{/reset}}
  </div>
  <div class="span4"></div>
</div>
