<div class="span1"></div>
<div class="span10 post">
  <a id="{{_id}}"></a>
  <div class="post-header">
    <span class="fui-man-16"></span>
    <a href="/user/{{user_handle}}">{{user_handle}}</a>
    <span class="timeago" data-timestamp={{timestamp}}></span>
  </div>
  <div class="post-body">
    {{{body_html}}}
  </div>
</div>
<div class="span1"></div>

