<div class="span1"></div>
<div class="span10 post">
  <a id="{{_id}}"></a>
  <div class="post-author">
    <span class="fui-man-16"></span>
    <a href="/user/{{user_id}}">{{user_handle}}</a>
  </div>
  <div class="post-body">
    {{{body_html}}}
  </div>
</div>
<div class="span1"></div>

