<form method="POST" action="/signup">
  <div class="control-group" style="margin-bottom: 0">
    <input type="text" id="handle" name="handle" placeholder="Handle" class="span4"><br>
  </div>
  <div class="control-group" style="margin-bottom: 0">
    <input type="text" id="email" name="email" placeholder="Email" class="span4"><br>
  </div>
  <input type="password" id="password" name="password" placeholder="Password" class="span4"><br>
  <input id="submit" class="btn btn-large btn-block btn-success" type="submit" value="Signup">
</form>
