<div class="row">
  <div class="span3">
    <form method="POST" action="/signup">
      <input type="text" id="handle" placeholder="Handle" class="span4"><br>
      <input type="text" id="email" placeholder="Email" class="span4"><br>
      <input type="text" id="password" placeholder="Password" class="span4"><br>
      <input class="btn btn-large btn-block btn-primary" type="submit" value="Signup">
    </form>
  </div>
</div>
