<div class="span7">
  <h3>
    <a href="/thread/{{_id}}">{{title}}</a>
  </h3>
</div>
<div class="span1">
  <a href="/user/{{user_id}}">{{user_handle}}</a>
</div>
<div class="span1 center">{{reply_count}}</div>
<div class="span3">
  {{! TODO }}
</div>
