<div class="span1"></div>
<div class="span3">
  <h3>
    <a href="/thread/{{_id}}">{{title}}</a>
  </h3>
</div>
<div class="span1">
  <a href="/user/{{user_handle}}">{{user_handle}}</a>
</div>
<div class="span1">{{reply_count}}</div>
<div class="span3">
  {{#last_post}}
    {{author}}<br>
    <span class="last-post-date timeago" data-timestamp="{{date}}"></span>
  {{/last_post}}
</div>
<div class="span3"></div>

