<form action="/thread/new" method="POST">
  <input type="text" name="title" placeholder="Title" class="span6">
  <textarea name="body_markdown" class="span6" rows="2"></textarea>
  {{{composer_info}}}
  <input type="submit" class="btn btn-success btn-block" value="Create">
</form>
