<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>User ID</strong></div>
  <div class="span3">&nbsp;<tt>{{user._id}}</tt>&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>Handle</strong></div>
  <div class="span3">&nbsp;{{user.handle}}&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>Email</strong></div>
  <div class="span3">&nbsp;{{user.email}}&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>Join Date</strong></div>
  <div class="span3">&nbsp;{{readable_join_date}}&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>API Key</strong></div>
  <div class="span3">&nbsp;<tt>{{user.consumer.api_key}}</tt>&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>API Secret</strong></div>
  <div class="span3">&nbsp;<tt>{{user.consumer.api_secret}}</tt>&nbsp;</div>
  <div class="span4"></div>
</div>

<div class="row field">
  <div class="span3"></div>
  <div class="span2 field-name"><strong>Access Level</strong></div>
  <div class="span3">&nbsp;{{user.consumer.access_level}}&nbsp;</div>
  <div class="span4"></div>
</div>

