{{#html}}
  <p>Hi {{user.handle}},</p>

  <p>To reset your Forerun password, please <a href="{{url}}">click here</a>.</p>

  <p>If you have not requested a password reset, or are not a member of Forerun, please ignore this email.</p>

  <p>
    Thanks,<br>
    {{thanks_from}}
  </p>
{{/html}}
{{#text}}
  Hi {{user.handle}},

  To reset your Forerun password, please visit the link below:

  {{url}}

  If you have not requested a password reset, or are not a member of Forerun, please ignore this email.

  Thanks,
  {{thanks_from}}
{{/text}}

